.forecast-container {
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  padding: 20px;
  border-radius: 10px;
  font-family: 'Arial', sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  margin: 30px auto;
  width: 84%;
  max-width: 680px;
}

.forecast-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.forecast-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.forecast-item:last-child {
  border-bottom: none;
}

.forecast-date-desc {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  /* Allow the date-description to grow as needed */
  text-align: left;
}

.forecast-date {
  font-weight: 600;
  font-size: 30px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 30px;
}

.forecast-description {
  font-style: italic;
  font-weight: 500;
  font-size: 25px;
  color: white;
  opacity: 0.8;
  margin-top: 5px;
}

.forecast-temps {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* Adjusted to space-between */
  flex-grow: 1;
  /* Allow the temperature values to grow as needed */
}

.temp-min,
.temp-max {
  font-size: 30px;
  font-weight: 600;
}

.temp-bar {
  height: 10px;
  width: 60%;
  /* This is the base width, it will scale down on smaller screens */
  min-width: 100px;
  /* Prevents the bar from becoming too small */
  background-image: linear-gradient(to right, #add8e6, #ffa07a);
  border-radius: 5px;
  margin: 0 10px;
}

.temp-min {
  color: white;
}

.temp-max {
  color: white;
}

/* Remove any specific styles related to .temp-bar if it's not needed */

@media (max-width: 720px) {
  .forecast-container {
    padding: 10px;
    /* Reduced padding */
    width: 95%;
    /* Increased width to fit small screens */
  }

  .forecast-item {
    padding: 10px 0;
    /* Reduced padding */
  }
}