.weatherapp-container {
  position: relative;
  width: 100%;
  max-width: 720px;
  height: 1600px;
  margin: auto;
  align-items: center;
  overflow: hidden;
}

.weatherapp-top-bar {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 45px;
}

.weatherapp-top-bar input {
  display: flex;
  width: 450px;
  height: 90px;
  background: white;
  border: none;
  outline: none;
  border-radius: 60px;
  padding-left: 40px;
  color: grey;
  font-size: 30px;
  font-weight: 400;
}

.weatherapp-weather-temp {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  color: white;
  font-size: 150px;
  font-weight: 400;
}

.weatherapp-weather-location {
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 50px;
  font-size: 50px;
  font-weight: 600;
}

.weatherapp-weather-description {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 30px;
  margin-bottom: 0px;
  font-weight: 600;
}

.weatherapp-weather-tempMinMax {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 30px;
  margin-bottom: 50px;
  font-weight: 600;
}

.weatherapp-data-container {
  margin-top: 10px;
  color: white;
  display: flex;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
}

.weatherapp-element {
  margin: auto;
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.data {
  font-size: 40px;
  font-weight: 600;
}

.text {
  font-size: 30px;
  font-weight: 500;
}

.icon {
  margin-top: 0px;
}

.mapContainer {
  width: 90%; /* Makes the map container responsive */
  max-width: 680px; /* Max width to align with the overall design */
  height: 500px; /* Fixed height, consider making this responsive too */
  border-radius: 10px; /* Rounded corners */
  overflow: hidden; /* Ensures the map corners are clipped to the border radius */
  margin: 30px auto; /* Center the map container */
}

/* .weatherapp-map-container {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 90px; 
  } */

.weatherapp-weather-temp,
.weatherapp-weather-location,
.weatherapp-element .text,
.weatherapp-element .feels-like,
.weatherapp-weather-description,
.weatherapp-weather-tempMinMax,
.weatherapp-data-container .data,
.weatherapp-data-container .text {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Responsive adjustments */
@media (max-width: 720px) {
  .weatherapp-top-bar input {
    width: 60%; /* Increased width for smaller screens */
    height: 50px;
    font-size: 20px;
  }
  .weatherapp-weather-temp {
    font-size: 100px; /* Smaller font size */
    font-weight: 300;
  }
  .weatherapp-weather-location {
    font-size: 30px; /* Smaller font size */
    font-weight: 400;
  }

  .weatherapp-weather-description {
    font-size: 25px; /* Smaller font size */
    font-weight: 400;
  }

  .weatherapp-weather-tempMinMax {
    font-size: 25px; /* Smaller font size */
    font-weight: 400;
  }
  .weatherapp-data-container {
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
  }

  .weatherapp-element {
    margin: auto;
    display: flex;
    align-items: flex-start;
    gap: 1px;
  }

  .data,
  .text {
    font-size: 20px; /* Adjust font size for better readability on smaller screens */
    font-weight: 400;
  }
}
