.forecast-container {
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  padding: 30px;
  border-radius: 10px;
  font-family: "Arial", sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  margin: 30px auto;
  width: auto;
  max-width: 100%;
}

.forecast-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.forecast-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.forecast-item:last-child {
  border-bottom: none;
}

.forecast-date-desc {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-align: left;
}

.forecast-date {
  font-weight: 600;
  font-size: 30px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  color: white;
  font-size: 30px;
}

.forecast-description {
  font-style: italic;
  font-weight: 500;
  font-size: 25px;
  color: white;
  opacity: 0.8;
  margin-top: 5px;
}

.forecast-temps {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Align items to the right */
  flex-grow: 1;
  gap: 20px; /* This creates consistent spacing between child elements */
}
.temp-min {
  font-size: 30px;
  font-weight: 600;
  color: white;
  opacity: 0.5;
  margin-left: 20px;
}
.temp-max {
  font-size: 30px;
  font-weight: 600;
  color: white;
  margin-left: 20px;
}

.temp-min:first-child,
.temp-max:first-child {
  margin-left: 0; /* Ensures the first element doesn't have a left margin */
}

.temp-min {
  color: white;
}

.temp-max {
  color: white;
}

@media (max-width: 720px) {
  .forecast-container {
    padding: 10px;
    width: 94%;
  }

  .forecast-item {
    padding: 10px 0;
  }

  .forecast-date {
    font-size: 18px;
  }

  .forecast-description {
    font-size: 15px;
  }

  .temp-min,
  .temp-max {
    font-size: 18px;
    font-weight: 300;
  }
}
