.login-container {
  position: relative;
  width: 100%;
  max-width: 720px;
  height: 100vh;
  background-image: url("../Assets/few_clouds.jpg");
  background-size: cover;
  background-position: center;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.dashboard {
  padding: 40px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  width: 70%;
  max-width: 360px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-align: center;
}

.option {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.profil {
  width: 80%;
}

.photo {
  width: 100px;
  height: 100px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 20px auto;
  overflow: hidden;
}

.photo img {
  display: block;
  max-width: 100%;
  height: auto;
}

.dashboard input[type="text"],
.dashboard input[type="password"] {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: calc(100% - 20px);
}