.login-container {
  position: relative;
  width: 100%;
  max-width: 720px;
  height: 100vh;
  background-image: url("../Assets/clear_sky_img1.jpg");
  background-size: cover;
  background-position: center;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.login-form {
  padding: 40px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  width: 70%;
  max-width: 360px;
}

label,
p,
a {
  color: #333;
}

.login-seconnecter-titre {
  color: white;
  margin-bottom: 40px;
  font-size: xx-large;
}

/* Input fields with more modern styling */
input[type="user"],
input[type="password"] {
  width: 90%;
  padding: 15px;
  border: 0px solid #cfcfcf86;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  /* box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  font-size: 16px;
  margin-bottom: 20px;
}

input[type="user"]::placeholder,
input[type="password"]::placeholder {
  color: whitesmoke;
  opacity: 1;
  /* text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2); */
}

button {
  padding: 15px 20px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  margin-bottom: 20px;
  width: 100%;
  font-weight: 600;
  transition:
    background-color 0.4s ease-in-out,
    transform 0.2s;
}

button:hover {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  transform: scale(1.05);
}

a:hover {
  text-decoration: underline;
}

/* Responsive adjustments */
@media (max-width: 720px) {
  .login-form {
    padding: 20px;
    max-width: 70%;
  }

  input[type="user"],
  input[type="password"],
  button {
    padding: 12px;
    font-size: 14px;
  }
}
